@{
    ViewBag.Title = "Index";
}


<h3>Visit: <a href="http://www.s-innovations.dk/Blog/2013/04/26/Deploying-social-oauth2-claims-aware-websites-to-Azure-using-Git" >Associated Blogpost</a></h3>
<h3>Visit: <a href="https://github.com/s093294/oauthclaimsdemo">This site on Github</a></h3>
<h3>Visit: <a href="https://github.com/s093294/BrockAllen.OAuth2">My Fork of Brock Allens Lib</a></h3>
<h3>Visit: <a href="http://brockallen.com/2012/10/26/integrating-claims-and-oauth2/">Brock Allens original blog Post</a></h3>
<h2>Login With:</h2>
<ul>
    <li>@Html.ActionLink("Google", "Login", new { type = BrockAllen.OAuth2.ProviderType.Google })</li>
    <li>@Html.ActionLink("Live", "Login", new { type = BrockAllen.OAuth2.ProviderType.Live}) </li>
    <li>@Html.ActionLink("Facebook", "Login", new { type = BrockAllen.OAuth2.ProviderType.Facebook}) (Not added)</li>
</ul>
@{
    var id = System.Security.Claims.ClaimsPrincipal.Current;
    if (id.Identity.IsAuthenticated)
    {
        <h2>Claims</h2>
        <dl>
            @foreach (var claim in id.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
                <dd>@claim.Issuer</dd>
            }
        </dl>
    }
}
